<% provide(:title, t("static_pages.about.title")) %>
<h1><%= t "static_pages.about.title" %></h1>
<p><%= sanitize t("static_pages.about.content",
  link_rails_tutorial: link_to(sanitize(t(".text.rails_tutorial")),
  Settings.rails_tutorial),
  link_learnenough: link_to(t(".text.learnenough"),
  Settings.learn_enough),
  link_book: link_to(t(".text.book"),
  Settings.rails_book),
  link_rails: link_to(t(".text.rails"),
  Settings.rails)) %>
</p>
