<% provide :title, t("static_pages.contact.title") %>
<h1><%= t "static_pages.contact.title" %></h1>
<p>
  <%= sanitize t("static_pages.contact.content", link: link_to(t(".text"),
  Settings.rails_contact)) %>
</p>
